/* div{
    width:100px;
    height: 100px;
    background-color: chocolate;
}

p{
    color: white;
} */

/* @media screen and (min-width:200px){
    div{
        background-color: darkblue;
    }
    
} 
@media screen and (max-width: 300px){
    div{
        background-color: darkgreen;
    } */


/* @media screen and (min-width:200px) and (max-width:500px){
    div{
        background-color: darkgoldenrod;
    }
} */

div{
    height:200px;
    width: 200px;
    background-color: darkslateblue;
    /* transition-property: width;
    transition-timing-function: steps(2);
    transition-duration: 2s;
    transition-delay: 1s; */
    transition:all steps(2) 2s 3s;

}

div:hover{
  background-color: aqua;
}
