body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    list-style: none;
    background-color: black;
    justify-content: center;
    padding-left: 500px;
     
}

.navbar li{
    display: block; 
    padding: 20px;
    color: white;
    cursor: pointer;
    font-weight: 700;
 
}

li:hover{
    color: blue;
    border: 6px solid green;
    background-color: blueviolet;
}