.container {
   position: relative;
   border: 1px solid black;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: violet;
    top: 100px;
    left: 50px;
    position: absolute; 
   
   
    
  
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    top: 150px;
    left: 100px;
    position: absolute;
    z-index: -1;
   
  
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: salmon;
    top: 200px;
    left: 150px;
    position: absolute;
    z-index: -2;
  
   
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: green;
    top: 250px;
    left: 200px;
    position: absolute;
   
  
}